h2
  span= bot.name
  |'s Profil 
h3.description
.botScatter
  h4 Tipp-Verteilung
  #botScatterChart
    .chart
      p.loading
        img(src='/images/loading.gif')
#botCommitHistory
  h4 GitHub Commits
  ul