#datasources.copy
  h2 Datenquellen
  dl
    dt openLigaDB
    dd
      a(href="http://openligadb-json.heroku.com/") http://openligadb.de
      br
      a(href="http://openligadb-json.heroku.com/") http://openligadb-json.heroku.com
