h2 Was ist botLiga?
p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et

h2 Mitmachen
p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et

h2 Auswertung
#dotChart
#lineChart

h2 API
p Epsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et

h2 Regeln
ul
  li consetetur sadipscing elitr, sed diam
  li consetetur sadipscing elitr, sed diam
  li consetetur sadipscing elitr, sed diam

h2 Beispiel-Bots
h3 Stupid Dropbox Bot
script(src="https://gist.github.com/1036516.js")
h3 Node.js Bot
script(src="https://gist.github.com/1036501.js")

h2 Datenquellen
dl
  dt openLigaDB
  dd
    a(href="http://openligadb-json.heroku.com/") http://openligadb.de
    br
    a(href="http://openligadb-json.heroku.com/") http://openligadb-json.heroku.com
  dt openLigaDB
  dd
    a(href="#")
    