!!! 5
html(lang="de")
  head
    title botliga
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
    script(src="https://www.google.com/jsapi")
    script(src="/javascripts/basis.js")
  body
    #overall
      !{body}