!!! 5
html(lang="de")
  head
    title botliga
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
    script(src="/javascripts/raphael-min.js")
    script(src="/javascripts/g.raphael-min.js")
    script(src="/javascripts/g.dot-min.js")
    script(src="/javascripts/g.line-min.js")
    script(src="/javascripts/results.js")
    script(src="/javascripts/settings.js")
    link(rel="stylesheet", href="/stylesheets/screen.css", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Cabin+Sketch:bold&v1", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono:regular&v1", type="text/css")
  body(data-login=(everyauth.loggedIn ? everyauth.github.user.login : ''))
    header
      h1
        a(href='/')
          em bot
          strong Liga
      h2
        a(href='/')
          | algorithmische
          br
          | Fussball-Bundesliga-Tipps
      ul.navigation
        li
          a(href='/', class= (navigation == 'home') ? 'active' : '') Home
        li
          a(href='/auswertung', class= (navigation == 'results') ? 'active' : '') Auswertung
        li
          a(href='/datenquellen', class= (navigation == 'datasources') ? 'active' : '') Datenquellen
        li
          a(href='/einstellungen', class= (navigation == 'settings') ? 'active' : '') Einstellungen
      .login
        - if (everyauth.loggedIn)
          p= "Hallo " + everyauth.github.user.login
        - else
          a.logo(href='/auth/github')
            img(src='/images/github.png')
          a(href='/auth/github') anmelden
    #overall
      !{body}