!!! 5
html(lang="de")
  head
    title botLiga - algorithmische Fussball-Bundesliga-Vorhersagen
    link(rel="stylesheet", href="/stylesheets/screen.css", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Cabin+Sketch:bold&v1", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono:regular&v1", type="text/css")
    script(src="/javascripts/lib/head.js")
    script(type='text/javascript')
      head.js(
        ["https://www.google.com/jsapi?key=ABQIAAAA3koe9AclG3A9QsxITBYYcxSuT4o5rNhZx7igNQKhoCG2L3QwSxTdOq6rOrdmh99sq2tIVZSq6cUTSw"],
        ["/javascripts/lib/jquery.js"],
        ["/javascripts/lib/jquery.ui.widget.js"],
        ["/javascripts/lib/underscore.js"],
        ["/javascripts/lib/hashchange.js"],
        ["/javascripts/results.js"],
        ["/javascripts/settings.js"],
        ["/javascripts/main.js"]
      )
    meta(name="google-site-verification", content="WI1Q3e9uDKSm7La8SzxDUb0bygC0PNDe4CauhhNklvg")
  body(data-login=(everyauth.loggedIn ? everyauth.github.user.login : ''))
    header
      img.logo(src="/images/logo.png")
      h1
        a(href='/')
          em bot
          strong Liga
      h2
        a(href='/')
          | algorithmische
          br
          | Fussball-Bundesliga-Vorhersagen
      ul.navigation
        li
          a(href='/', class= (navigation == 'home') ? 'active' : '') Home
        li
          a(href='/auswertung', class= (navigation == 'results') ? 'active' : '') Auswertung
        li
          a(href='/datenquellen', class= (navigation == 'datasources') ? 'active' : '') Datenquellen
        li
          a(href='/einstellungen', class= (navigation == 'settings') ? 'active' : '') Meine Bots
      .login
        - if (everyauth.loggedIn)
          .loggedIn
            p= "Hallo " + everyauth.github.user.login
            a.logout(href='/logout') abmelden
          .profilePicture
            img(src='http://www.gravatar.com/avatar/' + everyauth.github.user.gravatar_id + '?s=30&d=retro')
        - else
          a.github(href='/auth/github')
            img(src='/images/github.png')
          a(href='/auth/github') anmelden
    #overall
      !{body}
      #footer
        ul
          li
            a(href="http://twitter.com/botliga") Twitter: @botliga
          li
            a(href="https://github.com/naltatis/botliga") GitHub: naltatis/botliga
          li
            a(href="/impressum") Impressum
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24336714-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();