@import 'nib/reset'
@import 'nib/vendor'
@import 'nib/positions'

global-reset()
reset-html5()

body
  font-size 15px
  margin 0
  padding 0
  background url(/images/grass.jpg) top center
  text-align center
  z-index 1
  font-size 14px
  font-family 'Helvetica', Helvetica, Arial, sans-serif

a
  text-decoration none
  color #000
  &:hover
    text-decoration underline
    
pre
.code
  font-family 'Droid Sans Mono', 'Menlo', 'Monaco', 'Courier', monospace

.highlight1
  color #ec7721
.highlight2
  color green
.highlight3
  color #d14

header
  height 80px
  position relative
  text-align left
  margin 0 auto
  background-color rgba(255,255,255,0.8)
  width 840px
  padding 5px 30px 10px
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.5), 0 -10px 30px rgba(0, 0, 0, 0.2) inset
  border-radius 0 0 10px 10px
  .logo
    absolute left 10px top 17px
  .login
    text-align right
    absolute right 20px bottom 14px
    a
      display block
      color #000
    .github
      margin-bottom 8px
    .loggedIn
    .profilePicture
      display inline-block
      vertical-align bottom
      line-height 1.2em
    .profilePicture
      margin-left 10px
      margin-bottom 2px
      width 30px
      height 30px
    .logout
      color #999
    .loggedIn
      width 105px
  .navigation
    absolute bottom 10px left 320px
    li
      display inline-block
    a
      display block
      padding 4px 20px
      color #000
      &.active
        color green

#footer
  background-color rgba(255,255,255,0.4)
  margin 30px 0 0
  padding 5px
  font-size 12px
  text-align right
  li
    display inline-block
    margin-left 20px
    a
      color #666
    

#overall
  position relative
  margin 30px auto 0
  background-color rgba(255,255,255,0.85)
  width 840px
  text-align left
  padding 30px
  box-shadow 0 0 4px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.2) inset
  border-radius 10px
  .gist
    margin-bottom 5px
    .gist-file
      font inherit
      border none
    .gist-meta
      font-size 10px
      padding 5px
      color #000
      background-color #bdbdbd
      a
        color #000
    .gist-data
      padding-top 5px
      padding-bottom 5px
      border none
      background-color #fff
      font-family 'Droid Sans Mono', serif;

.copy
  h2
    &:first-child
      margin-top 0
    color green
    font-size 24px
    margin-bottom 8px
    margin-top 30px
  h3
    font-weight bold
    font-size 18px
    margin-top 25px
    margin-bottom 18px
    .small
      font-weight normal
      font-size 12px
  h4
    font-weight bold
    font-size 14px
    margin-top 20px
    margin-bottom 10px
    color green
  p, ul, ol
    margin-bottom 15px
    line-height 16px
  ul
    list-style-type disc
  ol
    list-style-type decimal
  strong
    font-weight bold
  li
    margin-bottom 4px
    margin-left 20px
    strong
      display block
      font-weight bold
    em
      display block
      font-size 12px
      color #444
  pre
    color #666
    background-color #fff
    padding 5px
    display inline-block
    margin-bottom 15px
  a
    color green
    text-decoration underline
    &:hover
      text-decoration none
  .leftCol
  .rightCol
    display inline-block
    width 45%
    vertical-align top
  .leftCol
    margin-right 8%

#datasources
  p
    margin-bottom 4px
  p + p
    margin-bottom 15px
  
#dotChart
#lineChart
  background #fff
  margin-bottom 14px
  
#botList
  margin-top 20px
  li
    padding-bottom 10px
    &.hidden
      display none
  h3
    font-size 20px
    color green
    margin-bottom 10px
    
  .api span
  .repository label
  .example label
    font-weight bold
    width 160px
    display inline-block
    vertical-align middle
    em
      font-weight normal
      font-size 13px
  .api
    margin-bottom 15px
    pre
      display inline-block
  .repository
    margin-bottom 10px
    select
      width 200px
  .example
    margin-bottom 40px
    label
      display block
      margin-bottom 5px
    pre
      display inline-block
      padding 3px
      font-size 12px
      background-color #fff
      strong
        
div.table
div.chart
  margin-bottom: 20px
  .loading
    width 100%
    padding 30px 0
    background-color white
    text-align center
    img
      display block
      margin 40px auto
    
.google-visualization-table-table
  .google-visualization-table-tr-head
    text-align center
  .google-visualization-table-th
    border none
    background none
  .google-visualization-table-td
    text-align center
  .team
    padding 0
    display inline-block
    margin 2px 3px

table.result
  margin-bottom 20px
  width 100%
  background-color #fff
  border-collapse collapse
  caption
    font-size 15px
    font-weight bold
    margin-bottom 8px
  th, td
    font-size 11px
    padding 4px 3px
    border 1px solid #aaa
    text-align center
  th
    width 3%
    font-weight bold
    background-color #f4f4f4
  th.bot
    text-align left
    width 15%

#guessesByGroup
  .options
    margin-bottom 10px
  .google-visualization-table-th
    width 70px
    padding 4px 0
  .google-visualization-table-th:first-child
    width 150px
  .google-visualization-table-sortind
    display none

#pointsBySeasonTable
  .google-visualization-table-th
  .google-visualization-table-td-number
    font-size 10px
    padding 4px 0px
    font-weight normal
  .google-visualization-table-th
    font-weight bold
    width 13px
    a
      text-align center
      display block
      color black
      text-decoration none
  .google-visualization-table-sortind
    display none

#botScatterChart
  display inline-block
  .chart
    width 300px
    height 300px
    
#results
  .subnav
    list-style-type none
    li
      margin 0 30px 0 0
      display inline-block

.team
  width 20px
  height 20px
  background-image url(../images/team-sprite.png)
@css {
  .team-100{ background-position: 0 0;  } 
  .team-112{ background-position: 0 -22px;  } 
  .team-123{ background-position: 0 -44px;  } 
  .team-131{ background-position: 0 -66px;  } 
  .team-134{ background-position: 0 -88px;  } 
  .team-16{ background-position: 0 -110px;  } 
  .team-40{ background-position: 0 -132px;  } 
  .team-54{ background-position: 0 -154px;  } 
  .team-55{ background-position: 0 -176px;  } 
  .team-6{ background-position: 0 -198px;  } 
  .team-65{ background-position: 0 -220px;  } 
  .team-7{ background-position: 0 -242px;  } 
  .team-76{ background-position: 0 -264px;  } 
  .team-79{ background-position: 0 -286px;  } 
  .team-81{ background-position: 0 -308px;  } 
  .team-87{ background-position: 0 -330px;  } 
  .team-9{ background-position: 0 -352px;  } 
  .team-91{ background-position: 0 -374px;  } 
  .team-95{ background-position: 0 -396px;  } 
  .team-98{ background-position: 0 -418px;  } 
}