html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
body {
  font-size: 15px;
  margin: 0;
  padding: 0;
  background: url("/images/grass.jpg") top center;
  text-align: center;
  z-index: 1;
  font-size: 14px;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
pre,
.code {
  font-family: "Droid Sans Mono", "Menlo", "Monaco", "Courier", monospace;
}
.highlight1 {
  color: #ec7721;
}
.highlight2 {
  color: #008000;
}
.highlight3 {
  color: #d14;
}
header {
  position: relative;
  text-align: left;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.8);
  width: 840px;
  padding: 5px 30px 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 -10px 30px rgba(0,0,0,0.2) inset;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 -10px 30px rgba(0,0,0,0.2) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 -10px 30px rgba(0,0,0,0.2) inset;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
header h1 a {
  font-size: 60px;
  text-shadow: 1px 1px 1px #888;
  font-family: "Cabin Sketch", serif;
  text-decoration: none;
  color: #000;
}
header h1 a:hover {
  text-decoration: none;
}
header h1 a strong {
  color: #008000;
}
header h2 {
  margin-top: -8px;
}
header h2 a {
  display: block;
  text-indent: 35px;
  font-family: "Droid Sans Mono", serif;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  margin-bottom: 4px;
}
header h2 a:hover {
  text-decoration: none;
}
header .login {
  text-align: right;
  position: absolute;
  right: 20px;
  bottom: 14px;
}
header .login a {
  display: block;
  color: #000;
}
header .login .logo {
  margin-bottom: 8px;
}
header .navigation {
  position: absolute;
  bottom: 10px;
  left: 300px;
}
header .navigation li {
  display: inline-block;
}
header .navigation a {
  display: block;
  padding: 4px 20px;
  color: #000;
}
header .navigation a.active {
  color: #008000;
}
#overall {
  position: relative;
  margin: 30px auto 0;
  background-color: rgba(255,255,255,0.85);
  width: 840px;
  text-align: left;
  padding: 30px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5), 0 0 20px rgba(0,0,0,0.2) inset;
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.5), 0 0 20px rgba(0,0,0,0.2) inset;
  box-shadow: 0 0 4px rgba(0,0,0,0.5), 0 0 20px rgba(0,0,0,0.2) inset;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
#overall .gist {
  margin-bottom: 5px;
}
#overall .gist .gist-file {
  font: inherit;
  border: none;
}
#overall .gist .gist-meta {
  font-size: 10px;
  padding: 5px;
  color: #000;
  background-color: #bdbdbd;
}
#overall .gist .gist-meta a {
  color: #000;
}
#overall .gist .gist-data {
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  background-color: #fff;
  font-family: "Droid Sans Mono", serif;
}
.copy h2 {
  color: #008000;
  font-size: 24px;
  margin-bottom: 8px;
  margin-top: 30px;
}
.copy h2:first-child {
  margin-top: 0;
}
.copy h3 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 18px;
}
.copy h4 {
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #008000;
}
.copy p,
.copy ul,
.copy ol {
  margin-bottom: 15px;
  line-height: 16px;
}
.copy ul {
  list-style-type: disc;
}
.copy ol {
  list-style-type: decimal;
}
.copy strong {
  font-weight: bold;
}
.copy li {
  margin-bottom: 4px;
  margin-left: 20px;
}
.copy li strong {
  display: block;
  font-weight: bold;
}
.copy li em {
  display: block;
  font-size: 12px;
  color: #444;
}
.copy pre {
  color: #666;
  background-color: #fff;
  padding: 5px;
  display: inline-block;
  margin-bottom: 15px;
}
.copy a {
  color: #008000;
  text-decoration: underline;
}
.copy a:hover {
  text-decoration: none;
}
.copy .leftCol,
.copy .rightCol {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}
.copy .leftCol {
  margin-right: 8%;
}
#dotChart,
#lineChart {
  background: #fff;
  margin-bottom: 14px;
}
#botList li {
  margin-bottom: 20px;
}
#botList h3 {
  font-size: 20px;
  color: #008000;
}
#botList .api span,
#botList .repository label,
#botList .noApi label,
#botList .example label {
  font-weight: bold;
  width: 160px;
  display: inline-block;
}
#botList .api span em,
#botList .repository label em,
#botList .noApi label em,
#botList .example label em {
  font-weight: normal;
  font-size: 13px;
}
#botList .api {
  margin-bottom: 10px;
}
#botList .api pre {
  display: inline-block;
}
#botList .repository {
  margin-bottom: 10px;
}
#botList .repository select {
  width: 200px;
}
#botList .example {
  margin-bottom: 10px;
}
#botList .example label {
  display: block;
  margin-bottom: 5px;
}
#botList .noApi {
  margin-bottom: 10px;
}
#botList .noApi label {
  width: auto;
  font-weight: normal;
}
#botList .noApi input {
  display: inline-block;
  margin-right: 5px;
}
#botList .noApiDetails {
  display: none;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 10px;
}
#botList .noApiDetails label {
  display: inline-block;
  margin-right: 10px;
}
#botList .noApiDetails input {
  display: inline-block;
  width: 300px;
  padding: 2px;
  border: 1px solid #aaa;
}
#botList .example p,
#botList .noApiDetails p {
  margin-bottom: 5px;
}
#botList .example pre,
#botList .noApiDetails pre {
  display: inline-block;
  padding: 3px;
  font-size: 12px;
  background-color: #fff;
}
#botList .example pre strong,
#botList .noApiDetails pre strong {
  font-weight: bold;
}
table.result {
  margin-bottom: 20px;
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
}
table.result caption {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}
table.result th,
table.result td {
  font-size: 11px;
  padding: 4px 3px;
  border: 1px solid #aaa;
  text-align: center;
}
table.result th {
  width: 3%;
  font-weight: bold;
  background-color: #f4f4f4;
}
table.result th.bot {
  text-align: left;
  width: 15%;
}
#botsByGroupsChart {
  background-color: #fff;
}
